body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 10px;
}

.menu-icon {
    display: none;
    font-size: 25px;
    color: white;
    cursor: pointer;

}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

@media (max-width: 800px) {
    .menu-icon {
        display: block;
}
    .nav-links {
        display: none;
    }